/* PHASE 3: Content */

.content {

}

.content-sidebar {
    background: white;
    width : 240px;
    float: left;



}

.content-main {
    background: white;
    width: 660px;
    float: left;


}

.content h1 {

}

.content p {

}